[submodule "libs/abslcpp"]
	path = libs/abslcpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
